name: platform-echo

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Print message from platform
        run: |
          echo "========================"
          echo "Hello from PLATFORM repo"
          echo "Message: ${{ inputs.message }}"
          echo "========================"
